.custom-button {
  text-transform: none !important;
  background: #1499ff !important;
  border-radius: 10px !important;
  display: flex;
  gap: 14px;
  justify-content: center;

  &:disabled {
    background: silver !important;
  }
}
