.header {
  height: 64px;
  box-shadow: 0px 2px 8px rgba(156, 156, 156, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
  padding-left: 82px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 999;

  @media (max-width: 40rem) {
    padding-left: 28px;
  }

  .header-title-container {
    display: flex;
    align-items: baseline;
    gap: 12px;

    .header-title-logo {
      width: 36px;
      margin-right: 8px;
      align-self: center;

      @media (min-width: 40rem) {
        display: none;
      }
    }
    .header-title {
    }
    .header-title-subtitle {
      color: #a5a5a5;

      @media (max-width: 40rem) {
        display: none;
      }
    }
  }
  .header-profile-button {
    height: 100%;
    aspect-ratio: 1;
    background: #b8b8b8;

    @media (max-width: 40rem) {
      display: none;
    }
  }
  .header-navbar-button {
    height: 100%;
    aspect-ratio: 1;
    font-size: 32px;
    margin-right: -8px;

    @media (min-width: 40rem) {
      display: none;
    }
  }
}
