@import "./header";
@import "./sideBar";

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  .main-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
  }

  .main-content {
    flex-grow: 1;
    padding: 54px 64px;
    padding-top: 118px;

    @media (max-width: 64rem) {
      padding: 54px 32px;
      padding-top: 118px;
    }
  }
}
