.task-card {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .task-card-container {
    display: flex;
    gap: 20px;

    .task-card-icon {
      font-size: 38px;
      color: #a1a7ff;
    }

    .task-card-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      .task-card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      .task-card-description {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: var(--main-gray);
      }

      .task-card-button-container {
        display: flex;
        gap: 18px;

        .done-button {
          border-radius: 12px;
          flex-grow: 1;
          height: 32px;
        }
        .task-card-view-button {
          background: #ededed;
          color: #a2a2a2;
          height: 32px;
          width: 32px;

          .view-icon {
            font-size: 16px;
          }
        }
      }
    }
  }
  .task-card-divider {
    width: 186px;
    margin-inline: auto;
  }
}
