.task-form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .task-form-title {
    text-align: center;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
